
 *{
    box-sizing: ;
    margin: 0;
    padding: 0;
}

 ul li{
    display: inline-block;
    padding: 10px;
}

  nav ul li a{
    text-decoration: none;
    font-size: 20px;
   }

nav{
    border: 2px solid maroon;
    height: 90px;
    margin-left: 5px;
    padding-top: 30px;
    background-color: blue; 
}

a{
    color: white;
}
.a1{
position: relative;
    left: 700px;
    bottom: 112px;
} 

img{
    position: relative;
    bottom: 28px;
    left: 50px;
    border-radius: 15px;
}

h1{
    text-align: center;
    padding: 15px;
    color: green;
    background-color: rgb(245, 234, 168);
}




.b{
    font-size: 30px;
    position: relative;
    left: 82px;
    top: 25px;
}

#z1{
    padding: 80px;
    font-size: 18px;
    font-style: italic;
}

.c{
padding: 60px;
position: relative;
left: 20px;
}

.y1{
    border: 2px solid blue;
}   */ */

 

